*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app{
  display: flex;
  justify-content: center;
}
.wrapper{
  max-width: 1300px;
  max-height: 3426px;
}
.headen-header{
  display: none;
}
.header{
  height: 720px;
  background-image: url("./../public/images/screen.png");
  padding-top: 22px;
  padding-left: 90px;
  padding-right: 90px;
}
.logo-menu{
  width: 100%;
  height: 33px;
  display: flex;
  justify-content: space-between;
}
.logo-area{
  width: 152px;
}
.menu-area{
  width: 513px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#FFFFFF;
  font-size: 14px;
}
.menu-area>h3{
  cursor: pointer;
}
.menu-area>h3:hover{
  opacity: 70%;
}
.language-area{
  display: flex;
  justify-content: space-between;
  color:#FFFFFF;
  font-size: 14px;
}
.language-area>a{
  color: #FFFFFF;
  text-decoration: none;
}
.mobile-menu-logo{
  width: 15px;
  height: 15px;
  display: none;
}
.luxury-real-estate{
  margin-top: 170px;
  text-align: center;
  height: 75px;
  color: #FFFFFF;
  font-size: 60px;
  font-weight: 700;
}
.quebec{
  text-align: center;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
}
.header-buttons{
  width: 560px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 45px;
}
.sell-home,.find-home{
  width: 270px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
/* .find-home{
  margin-left: 20px;
} */
.find-home:hover{
  opacity: 80%;
}
.sell-home:hover{
  opacity: 80%;
}
.active-button{
  width: 270px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  background-color: #1B1B1B;
  color: #FFFFFF;
}
.arrows{
  margin-top: 200px;
  /* width: 34px; */
  height: 22px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
}
/* **************************************MAIN*******************************************************/

.main{
  height: 2474px;
  background-color:#0D0D0D;
  padding-top: 90px;
  padding-left: 90px;
  padding-right: 90px;
}
.dls-effect{
  color: #FFFFFF;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.integrity{
  margin-top: 5px;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.dls-desc{
  margin-top: 50px;
  width: 1023px;
  height: 133px;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 500;
}
.dls-desc>p{
  text-align: center;
  opacity: 70%;
}
.main-cards{
  margin-top: 80px;
  height: 620px;
  display: grid;
  gap: 20px 20px;
  grid-template-columns:1fr 2fr ;
}
.cards{
  width: 550px;
  height: 300px;
  padding-top: 85px;
  padding-bottom: 88px;
  border-radius: 30px;
  background-color: #1B1B1B;
  padding-left: 65px;
}
.card-title{
  font-style: "Sourse Serif Pro";
  font-size: 32px;
  color: #FFFFFF;
  font-weight: 700;
}
.card-desc{
  height: 72px;
  margin-top: 15px;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 300;
  opacity: 70%;
}
.desc1{
  width: 368px;
}
.desc2{
  width: 380px;
}
.desc3{
  width: 394px;
}
.desc4{
  width: 406px;
}
.client-area{
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.client-title{
  font-size: 40px;
  color: #FFFFFF;
  font-weight: 700;
}
.client-cards{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.title-data{
  display: flex;
}
.client-name{
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
}
.client-desc{
  margin-top: 15px;
  width: 340px;
  height: 100px;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 300;
  opacity: 70%;
}
.client-arrows{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.arrow-div{
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.connect-area{
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.connect-wrapper{
  width: 542px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.connect-title{
  font-size: 40px;
  color: #FFFFFF;
  font-weight: 700;
}
.connect-name{
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 700;
  opacity: 70%;
}
.connect-proffession{
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 300;
  opacity: 70%;
}
.phone-email{
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.phone-email-div{
  width: 261px;
  height: 107px;
  padding-left: 40px;
  padding-top: 25px;
  border-radius: 30px;
  background-color: #1B1B1B;
}
.phone{
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 700;
}
.answer{
  margin-top: 5px;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 300;
  opacity: 70%;
}
.address-div{
  width: 100%;
  margin-top: 20px;
  height: 129px;
  padding-left: 40px;
  padding-top: 25px;
  border-radius: 30px;
  background-color: #1B1B1B;
}
.address-title{
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 5px;
}
.address1{
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 300;
  opacity: 70%;
}
.final-text-div{
  width: 747px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.final-text{
  width: 747px;
  height: 95px;
 
}
.large{
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 300;
  opacity: 70%;
}
/* **************************************FOOTER*******************************************************/
.footer{
  height: 232px;
  background-color: #FFFFFF;
  padding-top: 60px;
  padding-left: 90px;
  padding-right: 90px;
}
.logo-menu-footer{
  width: 100%;
  height: 23px;
  display: flex;
  justify-content: space-between;
}
.menu-area-footer{
  width: 453px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.menu-area-footer>p{
  font-size: 14px;
  font-weight: 500px;
  cursor: pointer;
}
.menu-area-footer>p:hover{
  opacity: 70%;
}
.language-area-footer{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300px;
}
.language-area-footer>a{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.rights-area{
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}
.rights-area-first{
  display: flex;
  width: 216px;
  height: 17px;
}
.rights-area-first-name{
  font-size: 14px;
  font-weight: 600px;
}
.rights-area-first-copyright{
  font-size: 14px;
  font-weight: 300px;
  margin-left: 5px;
}
.charizma-logo{
  width: 102px;
  height: 18px;
}
/* ************************************MEDIA********************************************* */

@media only screen and (min-width: 230px) and (max-width: 390px) {
  .wrapper{
    width: 390px;
    max-height: 3426px;
  }
  .header{
    height: 844px;
    background-image: url("./../public/images/ScreenMobile.png");
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-menu{
    height: 43px;
  }
  .menu-area{
    display: none;
  }
  .language-area{
    display: none;
  }
  .mobile-menu-logo{
    display: block;
    cursor: pointer;
  }
  .luxury-real-estate{
    margin-top: 148px;
    height: 100px;
    font-size: 45px;
    font-weight: 700;
  }
  .quebec{
    margin-top: 10px;
    width: 213px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
  .header-buttons{
    margin-top: 45px;
    flex-direction: column;
    align-items: center;
  }
  .sell-home,.find-home{
    width: 244px;
    height: 45px;
    font-size: 14px;
    font-weight: 700;
  }
  .find-home{
    margin-left: 0;
    margin-top: 15px;
  }
  .arrows{
    margin-top: 231px;
  }

  .opened-menu{
    width: 390px;
    height: 844px;
    display: flex;
    background-image: url("./../public/images/ScreenSmall.png");
  }
  .menu-side{
    width: 335px;
    background-color: #000000;
    padding-left: 40px;
    padding-top: 40px;
  }
  .menu-bar{
    margin-top: 125px;
  }
  .menu-bar>p{
    margin-top:40px;
    font-size: 18px;
    font-weight: 500px;
    color: #FFFFFF;
    cursor: pointer;
  }
  .opened-menu-language{
    display: flex;
    margin-top: 399px; 
  }
  .opened-menu-language>a{
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
  }
  .opened-menu-language>h2{
    color: #FFFFFF;
  }
/* ************************************MEDIA-MAIN************************************* */
.main{
  height: 2774px;
  padding-top: 65px;
  padding-left: 28px;
  padding-right: 28px;
}
.dls-effect{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.integrity{
  margin-top: 4px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
.dls-desc{
  margin-top: 50px;
  width: 334px;
  height: 260px;
  font-size: 14px;
  font-weight: 300;
}
.dls-desc>p{
  text-align: center;
}
.main-cards{
  margin-top: 30px;
  height: 620px;
  display: block;
}
.cards{
  margin-top: 15px;
  width: 340px;
  height: 151px;
  padding-top: 30px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-title{
  font-style: "Sourse Serif Pro";
  font-size: 22px;
  font-weight: 700;
}
.card-desc{
  height: 51px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.desc1{
  width: 258px;
}
.desc2{
  width: 266px;
}
.desc3{
  width: 276px;
}
.desc4{
  width: 250px;
}
.client-area{
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.client-title{
  font-size: 30px;
}
.client-cards{
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.client-card{
  margin-top: 30px;
}
.title-data{
  display: flex;
}
.client-name{
  font-size: 22px;
}
.client-desc{
  margin-top: 15px;
  width: 334px;
  height: 40px;
  font-size: 14px;
  font-weight: 300;
}
.client-arrows{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.arrow-div{
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.connect-area{
  margin-top: 55px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.connect-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.connect-title{
  font-size: 30px;
}
.connect-name{
  font-size: 14px;
}
.connect-proffession{
  font-size: 14px;
}
.phone-email{
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.phone-email-div{
  margin-top: 15px;
  width: 100%;
  height: 107px;
  padding-left: 30px;
}
.phone{
  font-size: 22px;
}
.answer{
  font-size: 16px;
}
.address-div{
  width: 100%;
  margin-top: 15px;
  height: 140px;
  padding-left: 30px;
}
.address-title{
  font-size: 22px;
}
.address1{
  font-size: 16px;
}
.final-text-div{
  width: 334px;
  height: 230px;
  margin-top: 45px;
}
.large{
  text-align: center;
}

/* ************************************MEDIA-FOOTER************************************* */
.footer{
  height: 468px;
  padding-top: 45px;
  padding-left: 28px;
  padding-right: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-menu-footer{
  width: 100%;
  height: 248px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-area-footer{
  width: 130px;
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-area-footer>p{
  margin-top: 30px;
}
.language-area-footer{
 margin-top: 30px;
}
.rights-area{
  display: flex;
  flex-direction: column;  
  align-items: center;
  margin-top: 70px; 
}
.rights-area-first{
  width: 185px;
  height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rights-area-first-name{
  font-size: 12px;
  font-weight: 600px;
}
.rights-area-first-copyright{
  margin-left: 5px;
  font-size: 12px;
  font-weight: 300px;
}
.charizma-logo{
  margin-top: 30px;
  width: 102px;
  height: 18px;
}
}